@charset "UTF-8";
/* CSS Document */

body {background-color: #FFFFFF;
}

#container {
	width: 1200px;
	height: 800px;
	float: left;
	background: #FFFFFF; 
	}

#titlebox {
	width: 800px;
	height: 60px;
	float: left;
	margin-left: 100px;
	margin-top: 50px;
	background: #FFFFFF; 
	font-size: 40px;
	}

#subtitlebox {
	width: 800px;
	height: 40px;
	float: left;
	margin-left: 100px;
	background: #FFFFFF; 
	font-style: italic;
	font-weight: bold;
	font-size: 20px;
	}

#sketchbox1 {
	width: 1200px;
	height: 750px;
	float: left;
	margin-left: 100px;
	background-image: url("fig1.JPG");
	background-repeat: no-repeat;
	}

#sketchbox2 {
	width: 1200px;
	height: 7500px;
	float: left;
	margin-left: 100px;
	background-image: url("fig2.jpg");
	background-repeat: no-repeat;
	}

#nextbox {
	width: 800px;
	height: 70px;
	float: left;
	margin-left: 100px;
	background: #FFFFFF;
	font-size: 15px;
	font-weight: bolder;
	}